*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
bin/

# Git
.gitignore~
/CSharpCourse/Ex3 - Solution/Ex3/obj
/CSharpCourse/Ex3 - Solution/Ex3/bin
/CSharpCourse/Ex2 - Solution/Ex2/obj
/CSharpCourse/Ex2 - Solution/Ex2/bin
/CSharpCourse/Ex1 - Solution/Ex1/obj
/CSharpCourse/Ex1 - Solution/Ex1/bin
/CSharpCourse/Ex1/Ex1/obj
/CSharpCourse/Ex1/Ex1/bin
/CSharpCourse/Ex2/Ex2/obj
/CSharpCourse/Ex2/Ex2/bin
/CSharpCourse/Ex3/Ex3/obj
/CSharpCourse/Ex3/Ex3/bin
